/* estilos.css */

.BorderPane {
    -fx-background-color: #EFF6EE; /* Fondo de la página principal */
}
.vbox-menu {
    -fx-background-color: #DD0426;
    -fx-padding: 10;
}

.label-titulo {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
    -fx-font-family: "Lato";
}

.boton-invisible {
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-max-width: Infinity;
    -fx-background-radius: 10px;

}

.boton-invisible:hover {
    -fx-background-color: #F02D3A;
    -fx-border-color: transparent;
}

.boton-rojo {
    -fx-background-color: #F02D3A;
    -fx-text-fill: white;
    -fx-max-width: Infinity;
}


/* Asegurar que las barras sean visibles */
.chart-bar {
    -fx-bar-fill: #2196F3;
    -fx-background-insets: 0, 2, 5;
    -fx-background-radius: 0;
}

/* Color de fondo del gráfico */
.chart-plot-background {
    -fx-background-color: transparent;
}

/* Etiquetas del eje X rotadas */
.axis-label {
    -fx-rotate: -90;
}
/* Estilo para las etiquetas del eje X */
.axis-tick-mark {
    -fx-font-size: 10px;
    -fx-wrap-text: true;
    -fx-text-alignment: center;
}
