/* estilos.css */

.BorderPane {
    -fx-background-color: #EFF6EE; /* Fondo de la página principal */
}
.vbox-menu {
    -fx-background-color: #DD0426;
    -fx-padding: 10;
}

.label-titulo {
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 20 0;
    -fx-font-family: "Lato";
}

.boton-invisible {
    -fx-alignment: CENTER_LEFT;
    -fx-background-color: transparent;
    -fx-border-color: transparent;
    -fx-text-fill: white;
    -fx-max-width: Infinity;
    -fx-background-radius: 10px;
}

.boton-invisible:hover {
    -fx-background-color: #F02D3A;
    -fx-border-color: transparent;
}

.boton-rojo {
    -fx-background-color: #F02D3A;
    -fx-text-fill: white;
    -fx-max-width: Infinity;
}


.button {
    -fx-cursor: hand;
}
/*zoom ligero al pasar el mouse*/
.button:hover {
    -fx-scale-x: 1.05;
    -fx-scale-y: 1.05;
}
.button {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.2), 6, 0.3, 0, 2);
}

/* Cambiar color de la línea principal linechat */
.chart-series-line {
    -fx-stroke: #FF6F00;
    -fx-stroke-width: 2px;
}

/* Efecto hover en puntos */
.default-color0.chart-line-symbol:hover {
    -fx-background-color: #FF5722, white; /* Naranja al pasar el mouse */
}

.tabla-seleccion-activa {
    -fx-effect: dropshadow(gaussian, #2196F3, 10, 0.5, 0, 0);
}




